@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif!important;
}

input, textarea{
    margin-bottom: 10px!important;
}
/* color */
a{
    color:#137aaa!important;
}
.footer-link{
    color:white!important;
}
h3,h5,p {
    color: #035B98!important;
}
h1,.card-title,.card-text{
    color: black;
}
/* color */

/* scrollbar */
::-webkit-scrollbar {
    width: 0px;
}
/* scrollbar */